@model todo.Models.SensorDataItemID

<h2>View Sensor Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlobJson.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobJson.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobJson.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobJson.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobJson.Reading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobJson.Reading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobJson.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobJson.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobJson.FrameData)
        </dt>
        <dd>
        @foreach (var name in Model.BlobJson.FrameData)
            {
        <text>
            @Html.DisplayFor(model => name)  
         </text>
        }
        <dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
