@model IEnumerable<todo.Models.SensorDataItemID>

@{
    ViewBag.Title = "List of Sensors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Sensors</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensorUUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensorHardwareID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceMfg)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.SensorClass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensorUUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensorHardwareID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceMfg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensorClass)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
        </td>
    </tr>
}
</table>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group form-group-sm">
            <div class="col-md-8">
               @Html.TextBox("start", null, new { @class = "form-control datepicker", @placeholder = "Start filter range" } ) 
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-md-8">
               @Html.TextBox("end", null, new { @class = "form-control datepicker", @placeholder = "End filter range" })
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-md-8">
               @Html.TextBox("sensorId", null, new { @class = "form-control datepicker", @placeholder = "filter by Sensor ID" })
            </div>
        </div>
        <div class="form-group-sm">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="FilterDates" class="btn btn-default" /> <span> </span>
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
